<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd ">

    <mvc:annotation-driven/>
    <context:component-scan base-package="org.echo.login"/>

    <mvc:resources mapping="/res/**" location="/WEB-INF/jsp/res/"/>
    <bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://127.0.0.1/test?useOldAliasMetadataBehavior=true"/>
        <property name="username" value="root"/>
        <property name="password" value="1234567890"/>
    </bean>
    <bean id="userJDBCTemplate" class="org.echo.login.dao.UserJDBCTemplate">
        <property name="dataSource" ref="ds"/>
    </bean>
    <bean id="captchaProducer" class="com.google.code.kaptcha.impl.DefaultKaptcha">
        <property name="config">
            <bean class="com.google.code.kaptcha.util.Config">
                <constructor-arg>
                    <props>
                        <prop key="kaptcha.border">no</prop>
                        <prop key="kaptcha.border.color">105,179,90</prop>
                        <prop key="kaptcha.textproducer.font.color">red</prop>
                        <prop key="kaptcha.image.width">100</prop>
                        <prop key="kaptcha.textproducer.font.size">30</prop>
                        <prop key="kaptcha.image.height">35</prop>
                        <prop key="kaptcha.session.key">code</prop>
                        <prop key="kaptcha.textproducer.char.length">4</prop>
                        <prop key="kaptcha.textproducer.font.names">宋体，楷体，微软雅黑</prop>
                    </props>
                </constructor-arg>
            </bean>
        </property>
    </bean>
    <bean id="user" class="org.echo.login.bean.User" scope="prototype"/>
    <bean id="springContextUtil" class="org.echo.login.utils.SpringContextUtil"/>
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <bean id="namecheck" class="org.echo.login.aop.SessionNameCheck">

    </bean>

    <aop:config>
        <aop:aspect id="sessionnamecheck" ref="namecheck">
            <aop:pointcut id="login" expression="execution(* org.echo.login.Login.login(..))"/>
            <aop:before pointcut-ref="login" method="check"/>
        </aop:aspect>
    </aop:config>


</beans>